################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/XFFirebase/XFFirebase/bin/Debug
/XFFirebase/XFFirebase/obj
/XFFirebase/XFFirebase.Droid/bin/Debug
/XFFirebase/XFFirebase.Droid/obj/Debug
/XFFirebase/XFFirebase.Droid/obj/Release
/XFFirebase/XFFirebase.iOS/bin/iPhone/Debug
/XFFirebase/XFFirebase.iOS/obj
